/*------------------------------------------------------------------
# General
--------------------------------------------------------------------*/

/*USE THIS FONT*/
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono');
@import url('https://fonts.googleapis.com/css?family=Fira+Sans');
@import url('https://fonts.googleapis.com/css?family=Sansita|Vollkorn');




/*@font-face {font-family: ApercuMono; src: url(fonts/apercu-mono-webfont.ttf);}
*/

@import url(http://fonts.googleapis.com/css?family=Oswald:400,300,700);
@import url('https://fonts.googleapis.com/css?family=Noto+Serif|Pacifico');

body {
    background-color: white;
    font-size: 14px;
    line-height: 18px;
    margin-left: 0;
    margin-top: 0;
}

h1, h2, h3, h4, h5, h6 {
  /*font-family: 'Apercu Mono', sans-serif !important;*/
  /*font-family: 'Noto Serif', sans-serif !important;*/
  font-family: 'Fira Sans', sans-serif !important;
  /*font-family: 'Vollkorn', serif !important;*/
  /*font-family: 'Sansita', sans-serif !important;*/

}

h1 {
}

h2 {
}

/*--------------------------------------------------------------
# LANDING PAGE
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Introduction
--------------------------------------------------------------*/

.intro {
  padding-top: 50px;
  /*padding-left: 80px;*/
  /*padding-right: 80px;*/
  padding-left: 5%;
  padding-right: 5%;
}

.intro h1 {
  /*font-size:5vw;*/
}

.intro h2 {

}

.into p {

}


/*--------------------------------------------------------------
# Work
--------------------------------------------------------------*/

.row {
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 20px;
  padding-bottom: 20px;
}

.img {
  display: inline-flex;
  width: 100%;
  padding-bottom: 40px;
}

/*.img:hover {
  opacity: 0.7;
}*/

.text-block {
  position: absolute;
  bottom: 0px;
  right: 5px;
  background-color: black;
  color: white;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 15px;
}

.text-block h4 {
  font-family: 'IBM Plex Mono', monospace !important;
  font-size: 15px;
}

.text-block p {
  font-family: 'IBM Plex Mono', monospace !important;
  font-size: 12px;
  line-height: 4px;
}


/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.footer {
  padding-top: 50px;
  padding-left: 5%;
  padding-right: 5%;
}

.hyperlinks {
  padding-top: 50px;
  padding-left: 5%;
  word-wrap: normal;
}

.hyperlinks span {
  padding-left: 30px;
}



/*--------------------------------------------------------------
# responsive
--------------------------------------------------------------*/

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .left, .main, .right {
    width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
  }

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {...} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {...} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {...} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {...}


/*--------------------------------------------------------------
# Icons
--------------------------------------------------------------*/
/* Style all font awesome icons */
.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}

/* Add a hover effect if you want */
.fa:hover {
    opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
    background: #3B5998;
    color: white;
}

/* Twitter */
.fa-twitter {
    background: #55ACEE;
    color: white;
}