/*------------------------------------------------------------------
# General
. class
# section
--------------------------------------------------------------------*/

/*USE THIS FONT*/
/*@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono');*/
@import url('https://fonts.googleapis.com/css?family=Sansita|Vollkorn');
@import url('https://fonts.googleapis.com/css?family=Cabin|Roboto+Condensed:700');
@import url('https://fonts.googleapis.com/css?family=Oswald');

body {
    /*background-color: white;*/
    font-size: 14px;
    line-height: 18px;
    margin-left: 0;
    margin-top: 0;
    height: 100%;
}

html {
  height: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Sansita', sans-serif !important;
}

h4 {
  font-family: 'Oswald', sans-serif !important;
}

h6 {
  font-family: 'Vollkorn', sans-serif !important;  
}

p {
  Keep this font
  font-family: 'Roboto', sans-serif !important;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
.header {
  padding-top: 50px;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 50px;
}

.header p {
  text-align: right;
  font-size: 13px;
  color: #939393;
}

.header hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;

}

.hyperlinks {
  padding-top: 20px;
  word-wrap: normal;
  font-family: 'Oswald', sans-serif;
  font-size: 16px;
}

.hyperlinks span {
  padding-left: 30px;
}



/*--------------------------------------------------------------
# LANDING PAGE
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Introduction
--------------------------------------------------------------*/

#intro {
  padding-top: 50px;
  /*padding-left: 80px;*/
  /*padding-right: 80px;*/
  padding-left: 5%;
  padding-right: 5%;
}

#intro h1 {
  font-family: 'Vollkorn', sans-serif !important; 
}

#intro h2 {
  font-weight: 600;
  font-size: 40px;
  /*color: white;*/
}

#intro p {
  font-family: 'Roboto', sans-serif !important; 
  /*color: white;*/
}

/*--------------------------------------------------------------
# Work
--------------------------------------------------------------*/

.row {
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 20px;
  padding-bottom: 0px;
}

/*.img {
  display: inline-flex;
  width: 100%;
  padding-bottom: 40px;
}*/

/*Main screen images*/
/*Border around main screen images*/
.img-work {
  padding: 12px;
  /*border-style: double;*/
  border-style: solid;
  border-spacing: 1px;
  border-color: teal;
  /*border-color: #000000;*/
  border-width: 2px;
}

.img-work:hover {
  /*opacity: 0.7;*/
  /*https://github.com/IanLunn/Hover#a-copy-and-paste-an-effect*/
  -webkit-transform: scale(1.1) rotate(4deg);
  transform: scale(1.01) rotate(2deg);
}


.text-block {
  position: absolute;
  bottom: 0px;
  right: 5px;
  background-color: black;
  color: white;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 15px;
}

.text-block h4 {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
}

.text-block p {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  line-height: 4px;
}

/*.text-block h4 {
  font-family: 'IBM Plex Mono', monospace !important;
  font-size: 15px;
}

.text-block p {
  font-family: 'IBM Plex Mono', monospace !important;
  font-size: 12px;
  line-height: 4px;
}*/


/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
.about {
  padding-left: 10%;
  padding-right: 10%;
}

.about h2 {
  padding-top: 50px;
  padding-left: 5%;
  padding-right: 5%;
  font-weight: 600;
}

.about h3 {
  padding-top: 50px;
  padding-right: 5%;
}

.about p {
  line-height: 25px;
}

.about .hyperlinks {
  text-align: right;
  padding-top: 0px;
}

.about a {
  font-weight: 500;
  color: orange;
}

.about .row {
  padding-bottom: 10px;
}


/*--------------------------------------------------------------
# Preserve
--------------------------------------------------------------*/

.preserve {
  padding-left: 10%;
  padding-right: 10%;
}

.preserve p {
  line-height: 20px;
}

.preserve span {
  font-size: 12px;
}

.preserve hr {
  /*This creates a line*/
    display: block;
    height: 1px;
    border: 0;
    border-top: 3px solid #ccc;
    margin: 1em 0;
    padding: 0;
}



/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.footer {
  padding-top: 50px;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 50px;
}

.footer p {
  text-align: right;
  font-size: 13px;
  color: #939393;
}

.footer hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;

}

.hyperlinks {
  padding-top: 20px;
  padding-left: 0%;
  word-wrap: normal;
  font-family: 'Oswald', sans-serif;
  font-size: 16px;
}

.hyperlinks span {
  padding-left: 30px;
}


/*--------------------------------------------------------------
# Visuals
--------------------------------------------------------------*/
.hr {
  /*This creates a line*/
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

.parallax {
    /* The image used */
    /*background-image: url("v2.png");*/
    background-image: url("main.jpg");

    /* Set a specific height */
    min-height: 200px; 
    /*max-height: 1000px;*/
    height: 100%;

    /* Parallax effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*--------------------------------------------------------------
# Responsive
--------------------------------------------------------------*/

@media (max-width: 991px) {
  .column-margin {
    margin: 15px 0;
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .left, .main, .right {
    width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
  }

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {...} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {...} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {...} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {...